{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Machine Failure</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="Type" id="Type" placeholder="Type">
            <input type="number" name="Air_temperature_[K]" id="Air_temperature_[K]" placeholder="Air temperature [K]">
            <input type="number" name="Process_temperature_[K]" id="Process_temperature_[K]" placeholder="Process temperature [K]">
            <input type="number" name="Rotational_speed_[rpm]" id="Rotational_speed_[rpm]" placeholder="Rotational speed [rpm]">
            <input type="number" name="Tool_wear_[min]" id="Tool_wear_[min]" placeholder="Tool wear [min]">
            <input type="number" name="TWF" id="TWF" placeholder="TWF">
            <input type="number" name="HDF" id="HDF" placeholder="HDF">
            <input type="number" name="PWF" id="PWF" placeholder="PWF">
            <input type="number" name="OSF" id="OSF" placeholder="OSF">
            <input type="number" name="RNF" id="RNF" placeholder="RNF">
</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}